h1{
    text-align: center;
}

#container{
    width: 45vmax;
    height: 45vmax;
    border: solid black 5px;
    margin: auto;
    margin-top: 1vw;
    display: grid;
}
.cell{
    border: 1px solid;
}
.color{
    background-color: cyan;
}
#reset{
    display: block;
    margin: auto;
    width: 400px;
    height: 50px;
    margin-top: 20px;
}

#squares{
    height: 30px;
    width: 340px;
    display: block;
    margin: auto;
    margin-top: 40px;
}
#options{
    margin-top: 1vmax;
    display: flex;
    justify-content: space-around;
}
